@import "tailwindcss";

:root {
  color-scheme: light;
  /*My color pelette*/
  --light-gray: #f7f7f7; /*Background*/
  --soft-silver: #eeeeee; /* Borders/Cards */
  --dark-slate: #393e46; /* Primary Text/Buttons */
  --dusty-blue: #929aab; /* Secondary Text */
  --dark-gray: #282828;
  --border-color: #eeeeee;

  /* Mapping to Next.js defaults */
  --background: var(--light-gray);
  --foreground: var(--dark-slate);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: var(--dusty-blue);
  --color-accent: var(--soft-silver);

  --color-dusty: var(--dusty-blue);
  --color-silver: var(--soft-silver);

  --color-gray: var(--dark-gray);
  --color-border: var(--border-color);

  /* This tells Tailwind: "font-sans" now means "Roboto", it tells tailwind that make roboto as default font */
  --font-sans: var(--font-roboto);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}
